body {
    background: rgb(85, 165, 78); 
    text-align: center;
    
 }


#timer_center{
    color: purple;
    text-align: center;
    
    
}

#bird_of_the_day{

    background-color: plum;
    text-align: center;

    }
.bird-img-class {
    border: powderblue;
    border-radius: 50px;
    align-items:  right;
}
#difolt_info{
    border: rgb(177, 46, 29);
    border-radius: 500px;
    text-align: center; 

 }