body {
    background: rgb(70, 154, 138); 
    text-align: center;
    
 }


#timer_center{
    color: purple;
    text-align: center;
    
    
}


#bird_of_the_day{

    background-color: plum;
    text-align: center;

    }
#divfolt_img {
    border: powderblue;
    border-radius: 50px;
    align-items:  left;
}
#difolt_info{
    border: rgb(42, 13, 9);
    border-radius: 50px;
    text-align: right;


} 