<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css/">
    <title>{{title}}</title>
</head>
<body>

    <h1 id = timer_center>{{ time }}</h1>
    <h1 id = bird_of_the_day> Bird Of The Day </h1>
    <img src="bird_api_img.jpg" width="400", height="400" >
   
    <h1> Bird Nmae: {{birdName}}</h1>
    <h1> Bird Order: {{order}}</h1>
    <h1> Bird Family: {{family}}</h1> 

 </body>
</html> -->