<!DOCTYPE html>
   <head>
    <link rel="stylesheet" href="../static/style.css/">
      <title>{{ title }}</title>
   </head>
   <body>

    <h1 id = timer_center>{{ time }}</h1>
    <h1 id = bird_of_the_day> Bird Of The Day </h1>
    <div id= divfolt_img>
      <img src="../static/img/bird.jpg" width="400", height="400" >
    </div>

    <div id = 'difolt_info'> 
        <h1> Bird Nmae: {{birdName}}</h1>
        <h1> Siencetific Name: {{birdSeintificName}}</h1>
        <h1> Bird Order: {{order}}</h1>
        <h1> Bird Family: {{family}}</h1>
    </div>


   </body>
</html>
